$navbar-default-bg: black;
$light-orange: #312312;
$navbar-default-color: $light-orange;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover_1.jpg');
  background-size: cover;
  height: 400px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}
h2,h3,h4 {
  line-height: 1;
}

.h2 {
  font-size: 1.2em;
  margin-bottom: 3px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

